<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      data-bs-theme="auto"
      lang="ko">


<th:block th:include="layout/header"></th:block>

<th:block th:include="layout/nav"></th:block>

<main>
    <iframe src="https://jeonghoon0725.github.io/hoonlog/" frameborder="0" style="display:block; width:100%; height: 100vh"></iframe>
</main>

<th:block th:include="layout/footer"></th:block>