<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      data-bs-theme="auto"
      lang="ko">


<th:block th:include="layout/header"></th:block>

<th:block th:include="layout/nav"></th:block>


<main>
    <header class="container py-3 mb-4 border-bottom">
        <div class="d-flex flex-wrap justify-content-center">
            <a href="/posts" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                <span class="fs-4">게시판</span>
            </a>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search" style="width: 220px;">
                <input type="search" class="form-control" placeholder="검색어를 입력해 주세요." aria-label="Search">
            </form>
        </div>
    </header>
</main>
<main>
    <div class="container flex-wrap">
        <div class="table-responsive small">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일</th>
                    <th scope="col">조회수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${posts}">
                    <td th:text="${post.id}"></td>
                    <td>
                        <a th:href="@{'/posts/info/{id}'(id=${post.id})}" th:text="${post.title}"></a>
                    </td>
                    <td th:text="${post.writer}"></td>
                    <td th:text="${post.createdDate}"></td>
                    <td th:text="${post.view}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 게시물 작성 버튼 -->
        <div class="d-flex justify-content-end mb-3">
            <a href="/posts/write" role="button" class="btn btn-primary bi bi-pencil-fill"> 글쓰기</a>
        </div>
    </div>


    <th:block th:include="posts/page"></th:block>
</main>

<th:block th:include="layout/footer"></th:block>