html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1; /* 본문 영역이 가변적으로 확장되도록 설정 */
}

footer {
  width: 100%;
  height: 50px;
}

[id^="valid"] {
  color: red;
}